<ion-view view-title="home">
    <ion-content>

        <ul class="list">
            <li class="item">
                <button ng-click="checkUpdate()">检查更新</button>
                <br>

                <button ng-click="checkConnection()">检查网络连接状态</button>
                <br>

                <button ng-click="openMap()">浏览器打开</button>
                <br>

                <a href="#/tab/map">百度地图</a><br>

                <a href="SeparateDemos/slide/index.html" >slide</a>

              <a href="SeparateDemos/mathjax/angularjs/angularjs_mathjax.html" >angularjs_mathjax</a>

            </li>
        </ul>
    </ion-content>
</ion-view>

