
<ion-nav-bar class="bar-positive"   >
    <ion-nav-back-button >
    </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="首  页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/index/{{closetips}}">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

    <ion-tab title="屏幕" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/screen">
        <ion-nav-view name="screen"></ion-nav-view>
    </ion-tab>

   <ion-tab title="插件" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/tab/plugin">
    <ion-nav-view name="plugin"></ion-nav-view>
  </ion-tab>

</ion-tabs>
