<ion-view view-title="版式列表">
    <ion-content class="padding">
        <br>

        <a href="#/tab/landscape">landscape</a> <br>

        <a href="#/tab/portrait">portrait</a>
    </ion-content>
</ion-view>


<script id="templates/screen/landscape.html" type="text/ng-template">
    <ion-view view-title="风景版式">
        <ion-content class="padding">
            风景

            <button ng-click="playPolyVideo()">播放保利威视</button>

            <div id="player_sdfpaoij4es" style="width: 600px; height: 337px; ">
                Launch Player  保利卫视
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/screen/portrait.html" type="text/ng-template">
    <ion-view view-title="肖像版式">
        <ion-content class="padding">
            肖像
        </ion-content>
    </ion-view>
</script>
