/* Empty. Add your own CSS if you like */

.guide-bg-a{
    background: url(../img/welcome/welcome-a.jpg) 0 0 no-repeat;
    background-size: 16rem;
    height: 100%;
}
.guide-bg-b{
    background: url(../img/welcome/welcome-b.jpg) 0 0 no-repeat;
    background-size: 16rem;
    height: 100%;
}
.guide-bg-c{
    background: url(../img/welcome/welcome-c.jpg) 0 0 no-repeat;
    background-size: 16rem;
    height: 100%;
}
.guide-bg-d{
    background: url(../img/welcome/welcome-d.jpg) 0 0 no-repeat;
    background-size: 16rem;
    left: 64rem;
    height: 100%;
}
.guide-bg-e{
    background: url(../img/welcome/welcome-e.jpg) 0 0 no-repeat;
    background-size: 16rem;
    left: 80rem;
    height: 100%;
}
.guide-sure{
    position: absolute;
    width: 6rem;
    height: 2rem;
    background: url(../img/welcome/guide-sure.png) 0 0 no-repeat;
    background-size: 5.9rem 1.7rem;
    margin: 0 auto;
    bottom: 60px;
    left: 50%;
    margin-left: -3rem;
}
